body {
  background-color: beige;
  margin: 0 auto;
}

#best-game-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.best-game-img {
  width: 20vw;
  height: 20vw;
}

.best-game-text {
  width: 20vw;
  padding: 2vh;
}

.best-wrapper:hover {
  background-color: white;
}

.best-title:hover {
  color: blue;
}
