body {
  background-color: beige;
  margin: 0 auto;
}

#request-main {
  margin: 5vw;
}

#request-input {
  height: 32px;
}

.request-button {
  background-color: beige;
  border: none;
  font-size: 24px;
}
.request-button:hover {
  background-color: rgb(87, 196, 105);
}

#request-list {
  margin: 5vw;
}

#request-input-wrapper {
  margin-top: 2vw;
}
.li-tag {
  padding-left: 0px;
  font-size: 32px;
  margin: 2vw;
}
