body {
  background-color: beige;
  margin: 0 auto;
}

#rule-wrapper {
  margin: 5vw 10vw 1vw 10vw;
}

#rule-title {
  width: 80vw;
  margin: 0 0 32px 0;
  padding: 8px 0 8px 16px;
}

#rule-img {
  float: left;
  margin-right: 40px;
}

.rule-introduce {
  margin-top: 24px;
}

.back-button-wrapper {
  text-align: center;
  margin-top: 32px;
}

.back-button {
  display: inline-block;
  border: none;
  background-color: beige;
  font-size: 32px;
}

.back-button:hover {
  color: blue;
}
